.App {
  text-align: center;
}

.App{
  border: 1px solid rgb(99, 22, 22);
  margin: 3px;
  height: 300px;
  padding: 2px;
}
.india{
  text-align: start;
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.addScore{
  justify-content: space-around;
}

.addScore1{
  background-color:red ;
  color: aliceblue;
  margin-left: 100px;
  margin-right: 100px;
}
.addScore4{
  background-color:red ;
  color: aliceblue;
  margin-left: 100px;
  margin-right: 100px;
}
.addScore6{
  background-color:red ;
  color: aliceblue;
  margin-left: 100px;
  margin-right: 100px;
}

.addWicket{
  justify-content: space-around;
}
